.headerArea{
    background: #3e236e;
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 49px;
    width: auto;
    margin-right: 10px;
}

.logoTitle {
    font-size: 25px;
}