<form #f="ngForm" (ngSubmit)="f.form.valid && login()">
  <br>
  <br>
  <label>User ID</label>
  <input name="name" [(ngModel)]="user.userID" #name="ngModel" required minlength="6" maxLength="20">

  <div [hidden]="name.valid || name.pristine">
    <div *ngIf="invalid">Invalid username / password</div>
    <div *ngIf="name.errors?.required"> Name is required</div>
    <div *ngIf="name.errors?.minLength"> Minimum length is 6</div>
    <div *ngIf="name.errors?.maxLength"> Maximum length is 20></div>
  </div>

  <br>
  <br>
    <label>Password</label>
    <input name="password" [(ngModel)]="user.password" #password="ngModel" required minlength="6" maxLength="20">

    <div [hidden]="password.valid || name.pristine">
      <div *ngIf="invalid">Invalid username / password</div>
      <div *ngIf="password.errors?.required"> Password is required.</div>
      <div *ngIf="password.errors?.minLength"> Minimum length is 6</div>
      <div *ngIf="password.errors?.maxLength"> Maximum length is 20</div>
    </div>
    <button type="submit">Sign In</button>
</form>


<button type="button" [routerLink]="['/register']">Create Profile</button>