.myNav{
    background-color: #424242;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}

.mat-button, button {
    width: 200px;
    font-size: 17px;
    text-transform: uppercase;
    padding: 10px 0px;
}

.topButton{
    padding: 10px;
}