

<div class="example-container mat-elevation-z8 displayArea">
    <mat-table matSort [dataSource]="results">

      <!-- favorite icon column -->
      <ng-container matColumnDef="fav">
          <mat-header-cell class="tableHeader" *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let result">
            <button mat-icon-button color="accent" (click)="passToFavorites(result)">
              <mat-icon>favorite</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Add to playlist icon column -->

        <ng-container matColumnDef="add">
            <mat-header-cell class="tableHeader" *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let result">
              <button mat-icon-button color="accent" (click)="passToPlaylist(result)">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
      <!-- track Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell class="tableHeader" *matHeaderCellDef mat-sort-header> Track </mat-header-cell>
        <mat-cell *matCellDef="let result"> {{result.name}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="artistName">
        <mat-header-cell class="tableHeader" *matHeaderCellDef mat-sort-header> Artist </mat-header-cell>
        <mat-cell *matCellDef="let result"> {{result.artistName}} </mat-cell>
      </ng-container>

      <!-- Album Column -->
      <ng-container matColumnDef="albumName">
        <mat-header-cell class="tableHeader" *matHeaderCellDef mat-sort-header> Album </mat-header-cell>
        <mat-cell *matCellDef="let result"> {{result.albumName}} </mat-cell>
      </ng-container>

      <!-- Preview Column -->
      <ng-container matColumnDef="previewURL">
          <mat-header-cell class="tableHeader" *matHeaderCellDef> Preview </mat-header-cell>
          <mat-cell *matCellDef="let result">
            <button mat-icon-button (click)="openSnackBar('Now Playing', result)"><mat-icon>play_circle_filled</mat-icon></button>
          </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
