.searchArea {
    background-color: black;
    color: white;
    margin: auto;
    padding: 10px;
    padding-left: 30px;
    width: 100%;
    font-size: 1em;
    align-content: center;
}


.searchButton {
    margin-left: 15px;
}