<form>
  <label>First Name: </label>
  <input name="firstName" [(ngModel)]="User1.firstName" #name="ngModel" required minlength="4">
  <div [class.hidden]="name.valid || name.pristine"><div *ngIf="name.errors.required"> Name is required</div>
   <div *ngIf="name.errors.minlength"> Name must have at least 4 characters</div></div><br>

  <label>Last Name: </label>
  <input name="lastName" [(ngModel)]="User1.lastName" #name="ngModel" required minlength="4">
  <div [class.hidden]="name.valid || name.pristine"><div *ngIf="name.errors.required"> Name is required</div>
    <div *ngIf="name.errors.minlength"> Name must have at least 4 characters</div></div><br>

  <label>Username: </label>
  <input name="userName" [(ngModel)]="User1.userName" #name="ngModel" required minlength="4">
  <div [class.hidden]="name.valid || name.pristine"><div *ngIf="name.errors.required"> Name is required</div>
    <div *ngIf="name.errors.minlength"> Name must have at least 4 characters</div></div><br>

  <label>Password: </label>
  <input name="password" [(ngModel)]="User1.password" #name="ngModel" required minlength="6" maxlength="20">
  <div [class.hidden]="name.valid || name.pristine"> <div *ngIf="name.errors.required"> Name is required</div>
   <div *ngIf="name.errors.required"> Name must have at least 4 characters</div></div><br>

  <label>Password Confirm: </label>
  <input name="passwordConfirm" [(ngModel)]="User1.passwordConfirm" #name="ngModel" required minlength="6" maxlength="20">
  <div [class.hidden]="name.valid || name.pristine"><div *ngIf="name.errors.required"> Name is required</div>
    <div *ngIf="passwordConfirm.errors.minlength"> Name musth have at least 4 characters</div></div>

  <button type="submit" (click)="submit($event)"></button>
</form>